<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.beatriz.toyota">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ToyotaActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ModelsActivity"
            android:label="@string/title_activity_models"
            android:parentActivityName=".ToyotaActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.beatriz.toyota.ToyotaActivity" />
        </activity>
        <activity
            android:name=".AvensisActivity"
            android:label="@string/title_activity_avensis"
            android:parentActivityName=".ModelsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.beatriz.toyota.ModelsActivity" />
        </activity>
        <activity
            android:name=".AurisActivity"
            android:label="@string/title_activity_auris"
            android:parentActivityName=".ModelsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.beatriz.toyota.ModelsActivity" />
        </activity>
        <activity
            android:name=".AygoActivity"
            android:label="@string/title_activity_aygo"
            android:parentActivityName=".ModelsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.beatriz.toyota.ModelsActivity" />
        </activity>
        <activity
            android:name=".YarisActivity"
            android:label="@string/title_activity_yaris"
            android:parentActivityName=".ModelsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.beatriz.toyota.ModelsActivity" />
        </activity>
        <activity
            android:name=".Gt86Activity"
            android:label="@string/title_activity_gt86"
            android:parentActivityName=".ModelsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.beatriz.toyota.ModelsActivity" />
        </activity>
        <activity
            android:name=".LandCruiserActivity"
            android:label="@string/title_activity_land_cruiser"
            android:parentActivityName=".ModelsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.beatriz.toyota.ModelsActivity" />
        </activity>
        <activity
            android:name=".Rav4Activity"
            android:label="@string/title_activity_rav4"
            android:parentActivityName=".ModelsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.beatriz.toyota.ModelsActivity" />
        </activity>
        <activity
            android:name=".ChrActivity"
            android:label="@string/title_activity_chr"
            android:parentActivityName=".ModelsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.beatriz.toyota.ModelsActivity" />
        </activity>
        <activity
            android:name=".ContactUsActivity"
            android:label="@string/title_activity_contac_us"
            android:parentActivityName=".ToyotaActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.beatriz.toyota.ToyotaActivity" />
        </activity>
    </application>

</manifest>